*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #f0f8ff;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    min-width: 320px;
}

/*  */
/*  */
/*  */
            /* HEADER */
/*  */
/*  */
/*  */

header {
    display: flex;
    flex-direction: column;
}

.off-screen_menu {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 270px;
    height: 100vh;
    left: -270px;
    z-index: 1;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 2em;
    transition: .3s ease;
    overflow-y: auto;
}

.os_header.os_name {
    font-size: clamp(1.25rem, 1.75vw, 1.75rem);
}

.os_header {
    color: black;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-weight: bold;
    text-align: center;
}

.os_profile_pic {
    display: block;
    width: 50%;
    max-width: 200px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 3px solid #50e1a2;
}

a {
    color: inherit;
}

a:hover {
    color: #50e1a2;
}

.os_nav {
    flex-grow: 1;
}

i {
    width: 1em;
    margin-right: 1em;
}

.menu_items {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em 0 4em 0;
    color: black;
    font-size: clamp(1.25rem, 2vw, 2rem);
}

.menu_btn {
    position: fixed;
    right: 3%;
    margin-top: 3%; 
    width: 12vw;
    max-width: 60px;
    aspect-ratio: 1;
    border: 2px solid aliceblue;
    border-radius: 50%;
    z-index: 1;
}

.menu_btn span {
    height: 5px;
    width: 60%;
    background-color: aliceblue;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.menu_btn span:nth-child(1) {
    top: 25%;
}
.menu_btn span:nth-child(3) {
    top: 75%;
}
.menu_btn.active span {
    background-color: white;
}
.menu_btn.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.menu_btn.active span:nth-child(2) {
    opacity: 0;
}
.menu_btn.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}


@media only screen and (min-width: 600px) {
    
    .off-screen_menu {
        max-width: 400px;
        left: -400px;
    }
    
}

@media only screen and (max-width: 350px) {
    .side_trim {
        display: none;
    }
}

@media only screen and (min-width: 1450px) {
    .menu_btn {
        display: none;
    }

    .off-screen_menu {
        position: fixed;
        top: 0;
        width: 22.5%;
        left: 0px;
        border: 5px solid #50e1a2;
        border-style: none solid none none;
    }

    body {
        padding-left: 22.5%;
    }

    .menu_items {
        font-size: clamp(1.25rem, 1.5vw, 1.5rem);
        justify-content: space-around;
        padding: 1em 0;

    }
}

/*  */
/*  */
/*  */
        /* MAIN */
/*  */
/*  */
/*  */

h1,
h2,
h3,
h4,
h5,
.auto_type,
.auto_type_b,
.typing_words,
.typing_words_b,
.type_animation,
.typing_animation_b {
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h1.section_h {
    font-size: 2rem;
}

/*  */
/*  */
/*  */
        /* HOME */
/*  */
/*  */
/*  */

#home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin-bottom: 2em;
    padding: 2em 0;
}

.side_trim {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #50e1a2;
    height: 100%;
    width: 20%;
    z-index: -1;
}

.splash_page_landscape {
    display: none;
}

h1.name_h {
    white-space: nowrap;
    font-size: clamp(1.6rem, 5vw, 5rem);
}

h2.title_h,
.auto_type,
.auto_type_b {
    font-size: clamp(1.2rem, 3vw, 3rem);
}

.green_font {
    color: #50e1a2;
}

.profile_pic {
    
    width: 80%;
    max-width: 350px;
    height: auto;
    border-radius: 15px;
}

.typing_words,
.typing_words_b {
    color: #50e1a2;
}

.type_animation,
.type_animation_b {
    animation: blink 0.7s infinite;
    font-size: 1.2em;
    color: #50e1a2;
}

.profile_pic,
.splash_page_a,
.splash_page_b {
    margin-left: 2em;
}

.splash_page_a {
    padding-top: 4em;
    margin-bottom: 1em;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* TABLET */

@media only screen and (min-width: 600px) {
    .splash_page_portrait {
        display: none;
    }

    #home {
        display: flex;
    }

    .splash_page_landscape {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 4em;
        width: 100%;
    }
    
    .profile_pic {
        width: 40%;
        max-width: 500px;
        margin-left: 2em;
    }
    
    .splash_page_a,
    .splash_page_b {
        margin-left: 0;
    }
    
    .splash_page_a {
        padding-top: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .splash_page_landscape {
        display: none;
    }

    .splash_page_portrait {
        display: flex;
        flex-direction: column;
        margin: 6em 0 0 5em;
    }

    .profile_pic {
        width: 100%;
        max-width: 600px;
        margin: 2em 0;
    }
}

@media only screen and (min-width: 1450px) {
    .splash_page_portrait {
        display: none;
    }

    #home {
        display: flex;
    }

    .splash_page_landscape {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        width: 100%;
        padding: 0 6em;
    }

    .profile_pic {
        width: 40%;
        max-width: none;
        margin: 0;
    }

    h1.name_h {
        white-space: nowrap;
        font-size: clamp(3rem, 3.5vw, 3.5rem);
    }

    h2.title_h,
    .auto_type,
    .auto_type_b {
        font-size: clamp(1rem, 2vw, 2rem);
    }

    
}

/*  */
/*  */
/*  */
            /* ABOUT */
/*  */
/*  */
/*  */


.section_container {
    display: flex;
    align-items: center;
}

h1.section_h {
    font-size: clamp(2rem, 4vw, 4rem);
}
 
.section_container.about_sec {
    margin-left: 2em;
}

.about_p {
    font-size: clamp(1rem, 1.75vw, 1.75rem);
    margin: 1em 2em;
    text-wrap: pretty;
}

.profile_pic_b {
    display: block;
    margin: auto;
    width: 60%;
    max-width: 475px;
    margin-top: 2em;
    border-radius: 25px;
}

@media only screen and (min-width: 600px) {
    .about_container {
        display: flex;
        padding: 2em;
    }
    
    .section_container.about_sec {
        margin-left: 2em;
    }
    
    .about_p {
        margin: 0;
        padding-right: 4em;
    }
    
    .profile_pic_b {
        display: block;
        margin: auto;
        width: 40%;
        height: auto;
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 1450px) {
    h1.section_h {
        font-size: clamp(1.75rem, 3vw, 3rem);
    }   

    .about_p {
        margin: 0;
        font-size: clamp(1rem, 1.25vw, 1.25rem);
        padding-right: 4em;
    }

    .profile_pic_b {
        width: 35%;
    }
}

/*  */
/*  */
/*  */
            /* RESUME */
/*  */
/*  */
/*  */

.section_container.centered_h {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6em 0 2em 0;
}

.section_seperator {
    height: 5px;
    width: 100%;
    background-color: #50e1a2;
    margin-left: 1em;
    border-radius: 5px 0 0 5px;
}

.section_seperator_left {
    width: 100%;
    height: 5px;
    background-color: #50e1a2;
    margin-right: 1em;
    border-radius: 0 5px 5px 0;
}

.resume_sections {
    display: flex;
    flex-direction: column;
    border: 2px solid #50e1a2;
    border-radius: 15px;
    margin: 1em 1em;
    padding: 1em;
}

.underline {
    height: 2px;
    width: 100%;
    background-color: #50e1a2;
    margin: .25em 0 1em 0;
}

.resume_h {
    font-size: clamp(1rem, 2vw, 2rem);
}

h3.resume_sec_h,
h4.resume_h.company {
    font-size: clamp(1.25rem, 2vw, 2rem);
}

.resume_h.company {
    font-style: italic;
}

.resume_p {
    margin: .5em 0;
}

.resume_p,
.resume_summary {
    font-size: clamp(1rem, 1.75vw, 1.75rem);
}

.resume_logo {
    width: 20%;
    max-width: 100px;
}

.underline.thin {
    height: .5px;
    margin: 1em 0;
}


@media only screen and (min-width: 800px) {
    .resume_main_container {
        display: flex;
        gap: 2em;
        margin-bottom: 10em;
        margin: 2em 2em;
    }

    .resume_sections {
        margin: 0;
    }

    .resume_sections.education {
        height: 100%;
    }

    .resume_sections.education,
    .resume_sections.summary {
        background-color: rgba(80, 225, 162, 25%);
    }

    .resume_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
    }

    .resume_wrapper_a {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    .resume_wrapper_b {
        min-width: 60%;
    }

    .resume_logo.edu {
        width: 25%;
        max-width: none;
    }
}

@media only screen and (min-width: 1450px) {
    .resume_p,
    .resume_summary, 
    .resume_h {
        font-size: 1rem;
    }

    h3.resume_sec_h,
    h4.resume_h.company {
        font-size: 1.35rem;
    }

    .resume_logo {
        width: 10%;
        max-width: none;
    }

    .resume_logo.edu {
        width: 25%;
    }
}


/*  */
/*  */
/*  */
            /* SKILLS */
/*  */
/*  */
/*  */


.skills_h {
    text-align: center;
    font-size: clamp(1.25rem, 2vw, 2rem);
    font-style: oblique;
    border: 1px solid aliceblue;
    border-style: solid none solid none;
}

.skills_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2em 0;
}

.skills_wrapper.bottom {
    justify-content: space-around;
    border-bottom: 1px solid aliceblue;
    padding-bottom: 2em;
    margin-bottom: 8em;
}

.skills_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill_logo {
    width: 55%;
    max-width: 250px;
}

.skills_p {
    font-size: clamp(.9rem, 1.2vw, 1.25rem);
    margin-top: .5em;
}

@media only screen and (min-width: 600px) {
    .skills_wrapper.bottom {
        margin-bottom: 10em;
    }
}

@media only screen and (min-width: 1450px) {
    .skills_h {
        font-size: 1.5rem;
    }

    .skill_logo {
        width: 25%;
        max-width: none;
    }

    .skills_p {
        font-size: 1rem;
    }
}

/*  */
/*  */
/*  */
            /* PROJECTS */
/*  */
/*  */
/*  */

.projects_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project_wrapper {
    margin: 0 1em;
}

.project_container {
    display: flex;
    align-items: center;
    width: 100%;
}

h3.project_h {
    font-style: italic;
    white-space: nowrap;
    font-size: clamp(1.25rem, 2vw, 2rem);
}

.project_sep {
    height: 2px;
}

.project_img {
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    margin: .5em 0;
}

.project_tags {
    margin-right: 1em;
    margin-bottom: 1.5em;
    color: #50e1a2;
    font-size: clamp(1rem, 1.75vw, 1.75rem);
}

@media only screen and (min-width: 600px) {
    .projects_nav {
        margin-bottom: 10em;
    }
}

@media only screen and (min-width: 1450px) {
    .project_wrapper {
        margin: 0 1em;
        width: 60%;
    }   

    .project_img {
        max-width: none;
    }

    h3.project_h {
        font-size: 1.75rem;
    }

    .project_tags {
        font-size: 1.5rem;
    }
}



/*  */
/*  */
/*  */
            /* CONTACT */
/*  */
/*  */
/*  */

#contact_info {
    text-align: center;
}

.contact_img {
    display: block;
    width: 50%;
    max-width: 300px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;
    margin: auto;
    border: 3px solid #50e1a2;
}

h2.contact_name {
    margin-top: 1em;
    font-size: clamp(1.5rem, 3vw, 3rem);
}

h3.contact_info_h {
 color: #50e1a2;
 margin-top: 1em;
 font-size: clamp(1.25rem, 2vw, 2rem);
}

.phone_num {
    color: inherit;
    text-decoration: none;
}

.contact_info {
    font-size: clamp(1rem, 1.5vw, 1.5rem)
}

.back_to_top {
    display: block;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 2em;
    height: 3em;
    width: 8em;
    border-radius: 10px;
    border: 2px solid  #50e1a2;
    background-color: black;
    font-size: .8rem;
    color: aliceblue;
}

@media only screen and (min-width:1450px) {
    .contact_img {
        width: 15%;
        max-width: none;
    }

    h2.contact_name {
        font-size: 1.75rem;
    }

    h3.contact_info_h {
        font-size: 1.25rem;
       }

       .contact_info {
        font-size: 1rem;
    }
}

/*  */
/*  */
/*  */
            /* FOOTER */
/*  */
/*  */
/*  */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0 0 0;
    padding: 2em 0;
    border: 2px solid #50e1a2;
    border-style: solid none none none;
    background-color: rgb(20, 20, 20);
}

.back_to_top {
    margin-bottom: 1em;
    height: 3em;
    width: 8em;
    border-radius: 10px;
    border: 2px solid  #50e1a2;
    background-color: black;
    font-size: .8rem;
    color: aliceblue;
}

.footer_p {
    text-align: center;
    font-size: .75rem;
}



















