*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Open Sans", sans-serif;
    color: aliceblue;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
}

.side_trim {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #50e1a2;
    height: 100vh;
    width: 5em;
    z-index: -1;
}

/* HEADER */

header {
    display: flex;
    flex-direction: column;
}

.off-screen_menu {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 250px;
    height: 100vh;
    left: -250px;
    background-color: aliceblue;
    display: flex;
    justify-content: flex;
    padding: 2em;
    transition: .3s ease;
}

.menu_items {
    color: black;
}

.menu_btn {
    position: fixed;
    margin-left: 75%;
    margin-top: 1em; 
    height: 3em;
    width: 3em;
    border: .25em solid aliceblue;
    border-radius: 5px;
}

.menu_btn span {
    height: 5px;
    width: 80%;
    background-color: aliceblue;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.menu_btn span:nth-child(1) {
    top: 25%;
}
.menu_btn span:nth-child(3) {
    top: 75%;
}
.menu_btn.active span {
    background-color: white;
}
.menu_btn.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.menu_btn.active span:nth-child(2) {
    opacity: 0;
}
.menu_btn.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}





/* MAIN */








h1,
h2,
h3,
.typing_words,
.type_animation {
    font-weight: 400;
}

h1 {
    font-size: 1.6rem;
    margin-top: 2em;
}

h2 {
    font-size: 1.2rem;
}

.green_font {
    color: #50e1a2;
}

.profile {
    width: 100%;
    margin-top: 1em;
}

.profile_pic {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.typing_words {
    color: #50e1a2;
    z-index: -1;
}

.type_animation {
    animation: blink 0.7s infinite;
    font-size: 1.2em;
    color: #50e1a2;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
};